
<!-- <a routerLink="/editor">Editor</a> | <a routerLink="/help">Help</a> -->

<p-toolbar>
  <div class="p-toolbar-group-left">
      <p-button p-button routerLink="/home" icon="pi pi-home" label="Home" ></p-button>&nbsp;
      <p-button routerLink="/editor" label="Editor" icon="pi pi-palette" styleClass="p-button-primary"></p-button>&nbsp;
      <p-button routerLink="/settings" label="Settings" icon="pi pi-upload" styleClass="p-button-success"></p-button>&nbsp;
      <p-button routerLink="/help" label="Help" icon="pi pi-info-circle" styleClass="p-button-help"></p-button>
  </div>
</p-toolbar>



<router-outlet></router-outlet>
